.bucketlistcontainer{
    border: 1px solid black;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bucketlistcontainer h1{
    font-size: 1.5rem;
}

.bucketlistfieldcontainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.bucketlistfields{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 1rem;
    overflow-y: auto;
    
}

.bucketlistfields .field{
    margin-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-top: 0.3rem;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
}
.field input{
    margin-right: 0.5rem;
    align-self: flex-start;
}
