.calender{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.calender-body-field{
    width: 60%;
    height: 100%;
}

.calender-info-field{
    width: 40%;
}


/* CAlender css */
.calenderssss{
    margin: 0;
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}
.planner {
    background-color: #d4e3bc;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    height: 90%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.planner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.planner-header h1 {
    font-size: 1.8em;
    color: #4c432e;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    color: #4c432e;
    margin-bottom: 10px;
}

.weekdays div {
    text-transform: capitalize;
    padding-bottom: 5px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 0 10px;
}

.day {
    background-color: #6bd5995c;
    border-radius: 10px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .planner-img {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 80px;
  }

  /* Datainfo css */
.datafield{
    height: 85%;
    width: 100%;
    margin-top: 5%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.dayfield{
    height: 50px;
    /* background-color: #5a3d3d; */
    font-size: 1rem;
}

.datafield .eachdatainfo{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.eachdatainfo .colname{
    width: 10%;
    height: 85%;
    background-color: antiquewhite;
    border-radius: 1.4rem;
    overflow: hidden;
    margin-top: 10px;
}

.tag {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    /* background-color: #9c4c4c; */
    color: black;
    padding: 10px 6px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .card {
    background-color: #f6a7af;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    width: 75%;
    max-height: 80%;
    overflow-y: auto;
  }

  .card .time {
    font-size: 1rem;
    font-weight: bold;
    color: #5a3d3d;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .card .time::before {
    content: "⏰";
    margin-right: 6px;
    font-size: 16px;
  }

  .card ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
    color: white;
    font-size: 1rem;
  }