/* Date field */
.datecontainer{
    border: 1px solid black;
    width: 23%;
    min-width: 100px;
    border-radius: 1rem;
    display: grid;
    place-items: center;
}

.datecontainer p{
    font-size: 1rem;
}

/* Quote filed */
.quotecontainer{
    border: 1px solid black;
    width: 48%;
    min-width: 270px;
    border-radius: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.quotecontainer p{
    font-size: 1rem;
}

/* dayfield */
.daycontainer{
    border: 1px solid black;
    width: 23%;
    border-radius: 1rem;
    padding-left: 1rem;
}

@media(max-width:1200px){
    .datecontainer{
        width: 21%;
    }
    .quotecontainer{
        width: 46%;
    }
    .daycontainer{
        width: 21%;
    }
}

@media(max-width:800px){
    .datecontainer{
        width: 20%;
    }
    .quotecontainer{
        width: 45%;
    }
    .daycontainer{
        width: 20%;
    }
}

@media(max-width:570px){
    .daycontainer{
        margin-top: 1rem;
        width: 85%;
    }    .datecontainer{
        width: 25%;
    }
    .quotecontainer{
        width: 55%;
    }
}

@media(max-width:450px){
    .daycontainer{
        margin-top: 1rem;
        width: 92%;
    }
    .datecontainer{
        min-width: 40px;
    }
}

@media(max-width:390px){
    .daycontainer{
        margin-top: 1rem;
        width: 92%;
    }
    .datecontainer{
        min-width: 10px;
        width: 95%;
        margin-bottom: 1rem;
    }
    .quotecontainer{
        width: 90%;
        min-width: 100px;
    }
}