    .HomePage{
        display: flex;
        flex-direction: row;
        height:80vh;
        width: 100%;
    }

    .HomePage .sidebar{
        position: sticky;
        /* background-color: aliceblue; */
    }

    .HomePage .bodypart{
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .bodypart .iconBar{
        font-size: 2.6rem;
        display: flex;
        flex-direction: row;
        margin-left: 0.5rem;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;
    }
    .iconBar button {
        height: 80%;
        width: 5rem;
        border-radius: 5px;
        border: none;
        background-color: rgb(121, 216, 121);
        font-size: 1rem;
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for both scale and glow */
    }
    
    .iconBar button:hover {
        transform: scale(1.2);
        background-color: rgb(105, 242, 105);
        box-shadow: 0 0 10px rgb(89, 209, 89), 0 0 20px rgba(105, 242, 105, 0.8), 0 0 30px rgba(105, 242, 105, 0.6);
    }
    
    .body{
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    h1{
        font-size: 4rem;
        text-align: center;
    }
    p{
        font-size: 2rem;
    }

    .body .displaycomponent{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        overflow-x: hidden;
        overflow-y: auto;
    }