.moneycontainer {
    width: 37%;
    border: 1px solid black;
    border-radius: 1rem;
    max-height: 400px;  /* Maximum height */
}

/* Money field */
.moneyfieldcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.moneyfieldcontainer .chooseoption{
    width: 95%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

.chooseoption select{
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

.moneyfieldcontainer .tablefield{
    /* background-color: aqua; */
    width: 90%;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    height: 250px;
    overflow-y: auto;   /* Allows scrolling if content exceeds max-height */
}

table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

table th{
    background-color: bisque;
}

.input-field {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 15px;
    font-size: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Focus state */
.input-field:focus {
    outline: none;
    border-color: #6c7ae0;
    box-shadow: 0 0 5px rgba(108, 122, 224, 0.5);
    background-color: #fff;
}

