.schedulecontainer{
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schedulecontainer h1{
    font-size: 1.5rem;
}

.schedulefield{
    background-color: rgb(228, 186, 193);
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 1rem 0;
    overflow-y: auto;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.schedulefield .fields{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.fields .timeslot{
    /* background-color: aqua; */
    width: 15%;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}
.fields .infoslot{
    /* background-color: aquamarine; */
    width:85% ;
    margin: 0;
    padding: 0;
}

p{
    font-size: 1rem;
}