.Sidebar {
    height: 100%;
    background-color: rgb(92, 143, 247);
    /* background-image: url('../../public/dummybackground.jpg'); Add the path to your image */
    background-size: cover; /* Makes the image cover the whole element */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
