.tobuycontainer {
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tobuycontainer h1{
    font-size: 1.5rem;
}

.buylistfieldcontainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.buylistfields{
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: antiquewhite;
    border-radius: 1rem;
    overflow-y: auto;
    
}

.buylistfields .field{
    margin-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-top: 0.3rem;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
}
.field input{
    margin-right: 0.5rem;
    align-self: flex-start;
}

.buylistfieldcontainer button{
    height: 1.8rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(93, 93, 224, 0.627);
}