.todocontainer {
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todocontainer h1{
    font-size: 1.7rem;
}
.todofield{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.todofield .chooseoption{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.chooseoption label{
    margin-top: 4px;
}

.todofield .todolist {
    background-color: rgb(179, 158, 231);
    border-radius: 1rem;
    overflow-y: auto;   /* Enables vertical scrolling */
    padding: 10px;      /* Optional: Adds space inside the list */
    margin-bottom: 1rem;
}

.todolist .todo-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.todolist .todo-item input[type="checkbox"] {
    display: none; 
}

.todolist .todo-item input[type="checkbox"] + label{
    position: relative;
    padding-left: 2rem ;
    cursor: pointer;
}

.todolist .todo-item input[type="checkbox"] + label::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 0.3rem;
    background-color: white;
    transition: background-color 0.2s;
}

.todo-item label{
    margin: 0.3rem 0.4rem 0.4rem 0.4rem;
}

.todolist .todo-item input[type = "checkbox"]:checked +label::before{
    background-color: #28a745;
}
.todolist .todo-item input[type = "checkbox"]:checked +label::after{
  content: '✔'; /* Unicode for checkmark */
  position: absolute;
  left: 0.1rem;
  top: -0.1rem;
  color: white; /* White color for the checkmark */
  font-size: 0.8rem; /* Size of the checkmark */
}

.todofield button{
    height: 1.8rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: rgba(93, 93, 224, 0.627);
}